body {
    background: url('../assets/background.svg') center / cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.logo {
    width: 35vw;
    /* transform: translateX(-3%) translateY(-12.5%); */
    transform: translateX(-5%) translateY(-12.5%);
}

table td:nth-child(odd) {
    color: var(--clr-primary);
    padding-right: 1rem;
    text-align: end;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

/* Left side */
.left {
    justify-content: space-between;
}

/* Right side */
.right {
    font-size: 2.5rem;
    justify-content: center;
    gap: 2rem;
}

#clock {
    font-size: 5rem;
}

h1 {
    border-bottom: var(--clr-primary) 0.5rem solid;
}

table {
    border-spacing: 1rem;
    border-collapse: separate;
}
