body {
  background: url('../assets/background.svg') center / cover;
  display: grid;
  place-items: center;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.logo {
  height: 25%;
  filter: drop-shadow(0 0 .5rem rgba(0,0,0,1));
}

svg {
  filter: brightness(0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
