@import '@fontsource/alata';

body {
    background: url('../assets/terrain.svg') center / cover;
    font-family: 'Alata', sans-serif;
    height: 100dvh;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    color: white;
}

.panel {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,.25);
}

h1 {
    font-size: 4rem;
    margin: 0;
}

img {
    max-width: 100%;
    padding: 2rem;
}

.schedule {
    padding-inline: 2rem;
}

#schedule {
    font-size: 2rem;
}

td:nth-of-type(odd) {
    color: #04c2ff;
    padding-right: 1rem;
}

#clock {
    margin-top: auto;
    font-size: 4rem;
    text-align: center;
    background-color: rgba(0,0,0,.25);
    padding-inline: 2rem;
    padding-block: 1rem;
    border-top-left-radius: 2rem;
}
