.toast {
  background: var(--clr-gray-800);
  position: absolute;
  border-bottom: var(--border);
  box-shadow: var(--shadow);
  transition: transform 1s;
}

.left, .right {
  bottom: calc(20% + var(--horizontal-safezone));
  padding-block: .5rem;
}

.left {
  left: 0;
  padding-left: var(--horizontal-safezone);
  padding-right: 2rem;
  transform: translateX(-105%);
}

.right {
  right: 0;
  padding-right: var(--horizontal-safezone);
  padding-left: 2rem;
  transform: translateX(105%);
}

.title {
  font-size: 2rem;
}

.subtitle {
  opacity: .5;
}

.bottom {
  bottom: var(--vertical-safezone);
  left: var(--horizontal-safezone);
  right: var(--horizontal-safezone);
  display: flex;
  padding: 1rem;
  font-size: 2rem;
  transform: translateY(calc(105% + var(--vertical-safezone)));
}

.bottom div {
  flex-basis: 100%;
  text-align: center;
}

.bottom.show {
  transform: translateY(0);
}

.left.show, .right.show {
  transform: translateX(0);
}
