body {
  display: flex;
}

.widget {
  background: var(--clr-gray-800);
  height: 4rem;
  display: inline-flex;
  place-items: center;
  box-shadow: var(--shadow);
  border-radius: .25rem;
  overflow: hidden;
  border-right: var(--border);
}

.text {
  padding: 1rem;
  font-size: 1.5rem;
  transition: width 2s, opacity 2s;
  white-space: nowrap;
}
